body{
	min-width:480px; /* suppose you want minimun width of 1000px */
	width: auto !important;  /* Firefox will set width as auto */
	width:480px;             /* As IE ignores !important it will set width as 1000px; */
	background-image: url("../images/background.jpg");
}

.container h1 {
	text-align: center;
	color:#ffffff;
}


.table th, thead, tbody, td {
	text-align: center;
	color: #ffffff;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em )
}

tbody {
    display: block;
    height: 400px;
    overflow: scroll;
	overflow-x: hidden;
}

td {
	word-wrap: break-word;
}

#buttons {
	text-align: center;
}

.buttons {
	text-align: center;
	border: 0;
	background: #0087cc;
	border-radius: 4px;
	box-shadow: 0 5px 0 #006599;
	color: #fff;
	cursor: pointer;
	font: inherit;
	margin: 0;
	outline: 0;
	padding: 12px 20px;
	margin-bottom:10px;
	transition: all .1s linear;
}