body{
	
	min-width:450px; 
	width: auto !important;  
	width:460px;            
	background-size: 100% auto;
	background-image: url("../images/background.png");
}

.ui-draggable{
padding:5px; 
margin: 10px;
border:90px solid black;
}
.ui-draggable-dragging{ 
border: 5px solid black;
 width:64px;
	height:64px;
}
.list{
display:block;
padding:10px;margin: 10px;
border:2px solid black;
width:50px;
}
.lista{
	display:block;
	padding:10px;margin: 10px;
	border:2px solid black;
	width:50px;
}
.block{
	  display:inline;

}
.one{
	background-image: url("../images/one.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.two{
	background-image: url("../images/two.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.three{
	background-image: url("../images/three.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.verify {

	position: relative;
}
#start_click {
position: relative;
}

.trash{
	
	width:90px;
	height:90px;
	overflow-x:hidden;
	overflow-y: hidden;
	white-space:nowrap;
	display:inline-block;
	position: relative;
	background-image: url("../images/trash.png");
	opacity: 50;
}
#init{
text-align:center;
} 
body{
	background-color: #424242;
	color: #eee;
	font-size: 14px;
	font-family: "Verdana",Geneva,sans-serif;
	margin: 0;
	padding: 0;
}
.colorRed{
	border-style:dotted;
	border-color: #E53935;
	border-width: 5px;
	padding:0px;
	
}
.colorBlue{
	border-style:ridge;
	border-color: #2196F3;
	border-width: 5px;
	padding:0px;
}
.colorGreen{
	border-style:double;
	border-color: #4CAF50;
	border-width: 7px;
	padding:0px;
	
}
.divScroll{
    width:94%;
    height:90px;
    overflow-x:scroll;
	overflow-y: hidden;
    white-space:nowrap;	
}  
.formGroup{
	text-align:center;
}


::-webkit-scrollbar {
    width:12px;
	height:8px;
	-webkit-overflow-scrolling: touch;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background: rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}
button {
	
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  margin-bottom:10px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

#redRadio{
	background:#E53935;
    border-radius:50%;
}
#greenRadio{
	background:#4CAF50;
    border-radius:50%;
}
#blueRadio{
	background:#2196F3;
    border-radius:50%;
}
label{
	display: inline-block;
  vertical-align: bottom;
  font-size:2em;
}
.custom {
	 
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    width:40px;
    height:40px;
    border:5px solid rgba(0,0,0,.4);
    box-shadow:inset 0 40px 50px rgba(0,0,0,.2);
	
    
}
#start_click{
	 margin-top:15px;
	vertical-align:top;
	position: relative;
	font-size:2.5em;
}
#stats{
	vertical-align:top;
font-size: 2em;
}
#mainPanel{
	text-align:center;
}
#music_play{
margin-top: 4px;
font-size: .5em;
 background: red;
}

#music_pause{
margin-top: 4px;
font-size: .5em;
 background: green;
}
#stats {
	text-align: center;
}