#tutorialTitle{

color:white;

}


body{

text-align: center;


}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
 margin-left: auto;
 margin-right: auto;
}


#myCarousel{

width:auto
}