<!DOCTYPE html>
<html lang="en" ng-app="" ng-init="level='0';color='colorRed';lives=3">
<head>
<meta charset="UTF-8" />
<title>ShapeScroller</title>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
	<script src="js/jquery.countdown360.min.js"></script>


<link rel="stylesheet" type="text/css" href="css/myStyle.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container">





<div id="lives">lives not set</div>
<div id="levelCounter">level not set</div>
<div id="gameOver">
		<p>game over sorry, submit your high score below</p>
		<p id="levelAcheived"></p>
	<form action="welcome.php" method="post">
Name: <input type="text" name="name"><br>
E-mail: <input type="text" name="email"><br>
<input type="submit">
</form>
		</div>
<div id="randomGenerator">

<button id="reset">reset to level 1</button>
<div id="container">
	<div id="countdown"></div>
	<button id="start_click">skip</button>
</div>

<div id="shapelist0" class="lista divScroll one">
	
</div>
<div id="shapelist1" class="lista divScroll two">
	
</div>
<div id="shapelist2" class="lista divScroll three">
	
</div>
</div>
<div id="input">
<div class="row">

<div id="shapelist4" class="list divScroll one"></div>
<div id="shapelist5" class="list divScroll two"></div>
<div id="shapelist6" class="list divScroll three"></div>

</div>




		<div class="formGroup">
			<input type="radio" name="color" value="colorRed"  ng-model="color" checked="checked">Red&nbsp
			<input type="radio" name="color" value="colorGreen"ng-model="color">Green&nbsp
			<input type="radio" name="color" value="colorBlue"ng-model="color">Blue&nbsp
			<button id="input_click" class="verify">verify here</button>
			<button id="clue_click" class="verify">give me clue</button>
		</div>

		
	 
	 
	 <br>

	<div id="init">
		<span id="shapelist3" class=" list trash "></span>

	  <img id="circle" class="block {{color}}"src="images/circle.jpg">
		<img id="box" class="block {{color}}"src="images/box.jpg">
		<img id="triangle" class="block {{color}}"src="images/triangle.jpg">
	   </div>


	</div>
	<script src="js/start.js"></script>
</body>
</html>